@(searchForm: DynamicForm)(estimates: List[Estimate])

<!DOCTYPE html>

<html>
  <head>
    <title>見積検索結果</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    @helper.form(action = routes.Estimates.list()) {
      <input type="text" name="estimateNumber" placeholder="YYYYMMDDXXX" value="@searchForm.get("estimateNumber")">
      <input type="text" name="customerName" value="@searchForm.get("customerName")">
      <input type="text" name="subject" value="@searchForm.get("subject")">
      <input type="submit" value="検索">
    }
    <table>
      <tr>
        <th>見積番号</th>
        <th>顧客名</th>
        <th>件名</th>
        <th>作成日</th>
      </tr>
      @for(estimate <- estimates) {
        <tr>
          <td>@estimate.estimateNumber</td>
          <td>@estimate.customerName</td>
          <td>@estimate.subject</td>
          <td>@estimate.createDate</td>
        </tr>
      }
    </table>
  </body>
</html>
